{% extends 'base.html' %}
{% block title %}历史{% endblock %}
{% block head %}
    {{ super() }}
    <script type = 'text/javascript' src = '{{ static }}/js/password.js'></script>
{% endblock %}
{% block content %} 
    <div class="sidebar">
        <div class="menu">
            <div class="item on" id="date_sel_all">
                <a href='/notes/'>修改密码</a>
            </div>
        </div>
    </div>
    <div class="left contentwrap">
        <div class="content">
            <h2>修改密码</h2>
            <form action="/setting/password" method="post">
                <div class='wrap'>
                    <label>当前密码:</label>
                    <input type='password' class='txt' name='old' id='old'/>
                </div>
                <div class='wrap'>
                    <label>新密码:&nbsp;&nbsp;&nbsp;</label>
                    <input type='password' class='txt' name='new' id='new'/>
                </div>
                <div class='wrap'>
                    <label>确认密码:</label>
                    <input type='password' class='txt' name='confirm' id='confirm'/>
                </div>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                    <div class="error">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="error" id="error_mes"></div>
                <div class='wrap'>
                    <input type="submit" id="submit" value="" class="submit"/>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
