{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %} 
    <div class="no-notes">
        <div class="centerwrap">
            <div class="box">
                <p>您暂时还没有写日志，先去记录一下今天的心情吧!</p>
                <a href='write'>写日记</a> 
                </form>
            </div>
        </div>
    </div>
    <style>
        .no-notes{
            margin-top:177px;
        }
        .no-notes .centerwrap{
            width:560px;
        }
        .no-notes .box{
            background:url('../img/bg_loginbox.gif') repeat scroll 0 0 #EBE8E5;
            border-color:#C2BFBD #C2BFBD #B7B4B1;
            border-radius:10px 10px 10px 10px;
            border-style:solid;
            border-width:1px;
            padding:31px 0 40px 57px;
        }
    </style>
{% endblock %}
