{% extends 'base.html' %}
{% block title %}设置密码{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ static }}/css/password.css" />
{% endblock %}
{% block content %} 
    <div class="set-password">
        <h1>请设置您的密码</h1>
        <div class="centerwrap">
            <div class="box">
                <form method="post" action="/init-password" id='regist_form'>
                    <h2>密码</h2>
                    <div class="wrap">
                        <input type='hidden' value="{{ email }}" name='email' />
                        <input type="password" tabindex="1" name="password" class="password" id="password" value=""/>
                        <input type='submit' value='' id='submit' class='submit' />
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="error">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="error" id="error_mes"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
