{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% block head %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" media="screen" href="{{ static }}/css/regist.css" />
    <script type="text/javascript" src='{{ static }}/js/register.js'></script>
{% endblock %}
{% block content %} 
    <div class="regist">
        <h1>注册</h1>
        <div class="centerwrap">
            <div class="box">
                <form method="post" action="/register" id='regist_form'>
                    <h2>Email Address</h2>
                    <div class="wrap">
                        <input type="text" tabindex="1" name="email" class="email" id="email" value='Email Address' />
                        <input type='submit' value='' id='regist' class='submit' />
                    </div>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="error">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                    {% endwith %}
                    <div class="error" id="error_mes"></div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
